
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{ page.title }}</title>
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anonymous Pro">
      <style>
{% include 'commonstyles.liquid' %}
h2, h3, h4, h5, h6, code, pre {
  margin: 0;
}
h1 { margin: 1.5em 0 0.5em 0; }
h2 small { float: right }
      </style>
  </head>
  <body>
    <main class="wrapper-main">
      <h1>Blog Posts</h1>
      {% for post in paginator.pages %}
      <div class="well">
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a> <small>{{ post.published_date | date: "%Y-%m-%d" }}</small></h2>
        <p>{{ post.excerpt }}</p>
      </div>
      {% endfor %}
    </main>
    <footer>
    <div>
    {% if paginator.previous_index %}
      <span><a href="/{{ paginator.first_index_permalink }}">First</a></span>
      <span><a href="/{{ paginator.previous_index_permalink }}">Previous</a></span>
    {% endif %}
    {% if paginator.previous_index or paginator.next_index %}
      {{ paginator.index }} / {{ paginator.total_indexes }}
    {% endif %}
    {% if paginator.next_index %}
      <span><a href="/{{ paginator.next_index_permalink }}">Next</a></span>
      <span><a href="/{{ paginator.last_index_permalink }}">Last</a></span>
    {% endif %}
    </div>
    </footer>
  </body>
</html>
